body {
    background-color: rgba(212, 214, 216, 0.945);
}

.container {
    width: 75%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.625rem;
}

.notifications-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    column-gap: 0.9rem;
    margin: 0 0.9rem; 
}

.push-left {
    margin-right: auto;
}

.number-of-notifications {
    background-color: blue;
    color: white;
    font-weight: 700;
    font-size: large;
    padding: 0.3rem 0.625rem;
    border-radius: 0.3rem;
}

.mark-read {
    font-size: large;
    color: rgba(184, 184, 184, 0.671);
    border: none;
    background-color: #fff;
}



.notifications-list {
    margin: 0 0.9rem; 
}

.notification {
    display: flex;
    flex-direction: row;
    column-gap: 0.325rem;
    align-items: center;
    border-radius: 0.625rem;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
}

.notification__img {
    display: flex;
    justify-content: center;
}

img {
    width: 75%;
    height: 75%;
}

.notification__body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.notification__text {
    color: rgba(99, 95, 95, 0.671);
}


.indicator {
    background-color: rgba(248, 42, 42, 0.74);
    border-radius: 100%;
    width: 0.625rem;
    height: 0.625rem;
    display: inline-block;
}

.notification--unread {
    background-color: rgb(230, 230, 230);
}

.name {
    color: black;
    font-weight: 700;
}

.title {
    color: rgba(48, 47, 47, 0.5);
    font-weight: 700;
}

.message {
    padding: 0.625rem;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 0.625rem;
    color: rgb(99, 95, 95);
}